[submodule "hardware/bean/avr/cores/bean/applicationMessageHeaders"]
	path = hardware/bean/avr/cores/bean/applicationMessageHeaders
	url = https://bitbucket.org/punchthroughdesign/bean-application-message-definitions.git
[submodule "hardware/bean/avr/libraries/PinChangeInt"]
	path = hardware/bean/avr/libraries/PinChangeInt
	url = https://github.com/PunchThrough/PinChangeInt.git
